// Colors
$color-primary-light: #dcf1ff;
$color-primary: #83cced;
$color-primary-dark: #61acd6;

$color-invalid: salmon;

$color-grey-light: #f7f7f7;

$color-grey: #888;

$color-grey-dark: #3a3a3a;
$color-grey-darker: #222;
$color-grey-darkest: #111;

$color-white: #fff;
$color-black: #000;

// Font
$font-size-larger: 2rem;
$font-size-large: 1.8rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;
$font-size-smaller: 1.2rem;

// Page padding
$section-padding: 0 42rem;

// BG
$polkadot-bg: url('../images/polkadot-background.png');