@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes box-separate {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-40%, -40%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appearFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}