*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  background-image: linear-gradient(rgba($color-black, 0.05), rgba($color-black, 0.05)), url('../images/polkadot-background.png');
  background-attachment: fixed;
  padding: 0 42rem;
}

.page {
  background-color: $color-white;
  box-shadow: $shadow-side;
  position: relative;

  &__flower {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 20;
    opacity: 0.5;
    height: 15rem;
  }
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}