.hover-basic {
  transition: all 0.3s;

  &:hover {
    transform: (translateY(-2px));
  }

  &:active {
    transform: (translateY(2px));
  }
}

.hover-shadows {
  @extend %hover-shadows;
}

.border {
  &--bottom {
    &--primary {
      border-bottom: 2px solid $color-primary;
    }
  }
}