.navbar {
  // Background
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("../images/feather-background--adjusted.jpg");
  background-size: cover;
  background-position: center;

  // Positioning
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $nav-padding;
  box-shadow: $shadow-bottom;

  @include respond(bp-smaller) {
    justify-content: center;
  }

  & > * {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 3rem;
    height: 7rem;

    @include respond(bp-massive-s) {
      margin-right: 2.5rem;
    }

    @include respond(bp-largest) {
      margin-right: 2rem;
    }

    @include respond(bp-medium) {
      margin: 0;
      height: 0;
      display: none;
    }
  }

  &__link {
    border-bottom: 2px solid rgba($color-white, 0.4);
    color: $color-white;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      color: $color-primary-dark;
    }
  }

  &__links {
    @include respond(bp-smaller) {
      margin-left: 1.6rem;
    }

    > :not(:first-child) {
      margin-left: 3rem;

      @include respond(bp-massive-s) {
        margin-left: 2.5rem;
      }

      @include respond(bp-largest) {
        margin-left: 2rem;
      }

      @include respond(bp-medium) {
        margin-left: 1.8rem;
      }

      @include respond(bp-smaller) {
        margin-left: 1.6rem;
      }
    }
  }

  &--projects {
    position: relative;
  }

  &__dropdown {
    background-color: $color-white;
    position: absolute;
    padding: 1rem 2rem;
    border: 1px solid $color-primary;

    & > * {
      border-bottom: 2px solid $color-grey-light;

      & > :first-child {
        transition: all 0.3s;
        &:hover {
          color: $color-primary-dark;
        }
      }
    }

    & > :not(:first-child) {
      & > :first-child {
        margin-right: 1rem;
      }

      &:hover > :nth-child(2) {
        animation: 2s infinite spin linear;
      }
    }

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__dropdown-image {
    height: 2rem;
  }
}
