.gallery {
  &__content {
    padding: 2rem 0;
    background-color: $color-white;
    padding: 5rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__show-gallery-page-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    & > :first-child {
      margin-right: 1.5rem;
    }

    & > :last-child {
      margin-left: 1.5rem;
    }
  }

  &__show-gallery-page {
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    border-radius: 50%;

    &--active {
      background-color: $color-primary;
    }

    &--inactive {
      background-color: $color-grey;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }

  &__image-container {
    margin: 0rem 1rem;
    z-index: 20;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    @include respond(bp-small) {
      margin: 0 0.5rem;
    }
  }

  &__image {
    width: 100%;
    border-radius: 5px;
    @extend %hover-shadows-no-translate;
  }

  &__divider {
    width: 30%;
    opacity: 0.4;
  }

  &__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  &__popup-image-container {
    position: relative;
    width: 80%;
    margin-bottom: 1rem;
  }

  &__popup-icon-container {
    display: flex;
    
    & > * {
      margin: 0 5rem;

      @include respond(bp-medium) {
        margin: 0 3rem;
      }

      @include respond(bp-small) {
        margin: 0 2rem;
      }
    }
  }

  &__icon-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000000000000;
  }

  &__cast-container {
    display: flex;
    justify-content: center;
  }

  &__cast {
    width: 100%;
  }
}

.game-details {
  &__content-warning {
    padding: 2rem;
    text-align: center;
    background-color: rgba($color-primary, 0.2);
    border-radius: 20px;
    box-shadow: $shadow-bottom;
    color: $color-grey;
    margin-bottom: 2rem;
  }

  &__kickstarter {
    width: 60%;
    display: block;
    margin: 2rem auto 0 auto;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    @include respond(bp-medium) {
      margin: 2rem auto 1rem auto;
    }
  }

  &__content {
    padding: $section-padding;
    background-color: $color-white;

    display: flex;

    @include respond(bp-medium) {
      flex-direction: column;
    }
  }

  &__game-description {
    flex-basis: 70%;
    padding: 0 2rem;

    @include respond(bp-medium) {
      flex-basis: 1;
      padding: 0;
      margin-bottom: 2rem;
    }

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__heading {
    width: 100%;
  }

  &__description {
    padding: 0 3rem;
    text-align: left;

    & > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__details {
    flex-basis: 30%;
    padding: 0 2rem;
    border-left: 2px solid $color-grey-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(bp-medium) {
      border-left: none;
      flex-basis: 1;
      flex-direction: row;
    }

    @include respond(bp-small) {
      flex-direction: column;
      // align-items: center;
    }

    &--general {
      @include respond(bp-medium) {
        flex-basis: 50%;
      }

      @include respond(bp-small) {
        flex-basis: 0%;
        width: 65%;
        margin: 0 auto;
      }

      @include respond(bp-smaller) {
        width: 85%;
      }
    }

    &--requirements {
      @include respond(bp-medium) {
        flex-basis: 50%;
      }

      @include respond(bp-small) {
        flex-basis: 0%;
        width: 65%;
        margin: 0 auto;
      }

      @include respond(bp-smaller) {
        width: 85%;
      }
    }

    &--divider {
      width: 100%;
      opacity: 0.4;

      @include respond(bp-medium) {
        // width: 30%;
        // margin: 2rem auto;
        display: none;
      }

      @include respond(bp-small) {
        display: inline-block;
        width: 50%;
        margin: 2rem auto;
      }
    }

    & > * {
      & > :not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__title {
    @include respond(bp-medium) {
      display: flex;
      align-items: center;
    }

    & > :first-child {
      @include respond(bp-medium) {
        margin-right: 2rem;
      }
    }
  }

  &__detail {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & > :first-child {
      flex-basis: 40%;
    }

    & > :last-child {
      flex-basis: 60%;
    }

    &--languages {
      display: flex;
      align-items: center;
    }

    &--language {
      display: flex;
      align-items: center;
    }
  }

  &__os {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > :not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > :first-child {
      margin-right: 1rem;
      flex-basis: 10%;
    }

    & > :nth-child(2) {
      flex-basis: 90%;
    }
  }
}

.characters {
  &__content {
    padding: $section-padding;
    background-color: $color-white;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__character {
    display: flex;
    align-items: center;

    @include respond(bp-medium) {
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
    }
  }

  &__name-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__character-profile {
    width: 55%;
    margin-right: 1rem;

    @include respond(bp-medium) {
      margin-right: 0;
      width: 100%;
    }
  }
}
