.header {
  &--game {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;

    &__video-container {
      height: 100%;
      @extend %abs-center;
      padding: $section-padding;
    }

    &__video {
      height: 100%;
      border-radius: 20px;
      box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2), -5px 0 15px rgba(0, 0, 0, 0.2),
        0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    &__logo {
      height: 20%;
      position: absolute;
      top: 7rem;
      left: 6rem;
      opacity: 0.6;
    }

    &__kickstarter {
      position: absolute;
      bottom: 7rem;
      left: 6rem;
      border-radius: 10px;
      padding: 2rem;
      opacity: 0.6;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: translateY(-2px) scale(1.02);
      }
    }

    &__kickstarter-logo {
      height: 3rem;
    }
  }
}

.gallery {
  &__content {
    padding: 2rem 0;
    background-color: $color-white;
    padding: 5rem 3rem 0rem 3rem;
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 19.2rem; // 1.92rem;
    height: 10.8rem; // 1.08rem;
    
    // TODO:
    margin: 0rem 1.6rem;
    background-color: lightpink;
  }

  &__cast-container {
    height: 55vh;
    display: flex;
    justify-content: center;
  }

  &__cast {
    height: 100%;
  }
}

.game-details {
  &__content-warning {
    padding: 2rem;
    text-align: center;
    background-color: rgba($color-primary, 0.2);
    border-radius: 20px;
    box-shadow: $shadow-bottom;
    color: $color-grey;
    margin-bottom: 2rem;
  }

  &__content {
    padding: $section-padding;
    background-color: $color-white;

    display: flex;
  }

  &__game-description {
    flex-basis: 70%;
    padding: 0 2rem;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__heading {
    width: 100%;
  }

  &__description {
    padding: 0 3rem;

    & > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__details {
    flex-basis: 30%;
    padding: 0 2rem;
    border-left: 2px solid $color-grey-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--divider {
      height: 4.8rem;
      opacity: 0.4;
    }

    &--requirements {
      & > :first-child {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }

    & > * {
      & > :not(:first-child) {
        display: flex;

        & > :first-child {
          flex-basis: 40%;
        }

        & > :last-child {
          flex-basis: 60%;
        }
      }

      & > :not(:last-child){
        margin-bottom: 1rem;
        // border-bottom: 2px solid $color-grey-light;
      }
    }
  }

  &__detail {
    &--languages, &--language {
      display: flex;
      align-items: center;
    }
  }

  &__os {
    & > :not(:first-child) {
      margin-left: 0.3rem;
    }
  }

  &__feature {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 1rem;
    }
  }
}

.characters {
  &__content {
    padding: $section-padding;
    background-color: $color-white;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__character {
    display: flex;
    align-items: center;
  }

  &__name-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__character-profile {
    height: 40rem;
  }
}
