.header {
  &--game {
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;

    &__video-container {
      height: 100%;
      @extend %abs-center;
      padding: $section-padding;
    }

    &__video {
      height: 100%;
      border-radius: 20px;
      box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2), -5px 0 15px rgba(0, 0, 0, 0.2),
        0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    &__logo {
      height: 20%;
      position: absolute;
      top: 7rem;
      left: 6rem;
      opacity: 0.6;
    }

    &__kickstarter {
      position: absolute;
      bottom: 7rem;
      left: 6rem;
      border-radius: 10px;
      padding: 2rem;
      opacity: 0.6;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transform: translateY(-2px) scale(1.02);
      }
    }

    &__kickstarter-logo {
      height: 3rem;
    }
  }
}

.gallery {
  &__content {
    padding: 2rem 0;
    background-color: $color-white;
    padding: 5rem 3rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
  }

  &__show-gallery-page-container {
    display: flex;
  }

  &__show-gallery-page {
    height: 1rem;
    width: 1rem;
    margin: 0 1rem;
    border-radius: 50%;
    margin-bottom: 2rem;

    &--active {
      background-color: $color-primary;
    }

    &--inactive {
      background-color: $color-grey;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
  }

  &__image-container {
    width: 19.2rem; // 1.92rem;
    height: 10.8rem; // 1.08rem;
    position: relative;
    @extend %hover-shadows;
    border-radius: 5px;
    margin: 0rem 1.6rem;
    z-index: 20;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 100%;
    border-radius: 5px;
  }

  &__divider {
    width: 30rem;
    opacity: 0.4;
  }

  &__popup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &__popup-image-container {
    box-shadow: $shadow-bottom;
    margin: 0 3rem;
    height: 80%;
    position: relative;
    z-index: 1000000;
  }

  &__icon-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000000000000;
  }

  &__cast-container {
    height: 55vh;
    display: flex;
    justify-content: center;
  }

  &__cast {
    height: 100%;
  }
}

.game-details {
  &__content-warning {
    padding: 2rem;
    text-align: center;
    background-color: rgba($color-primary, 0.2);
    border-radius: 20px;
    box-shadow: $shadow-bottom;
    color: $color-grey;
    margin-bottom: 2rem;
  }

  &__content {
    padding: $section-padding;
    background-color: $color-white;

    display: flex;
  }

  &__game-description {
    flex-basis: 70%;
    padding: 0 2rem;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__heading {
    width: 100%;
  }

  &__description {
    padding: 0 3rem;

    & > :not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__details {
    flex-basis: 30%;
    padding: 0 2rem;
    border-left: 2px solid $color-grey-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--divider {
      height: 4.8rem;
      opacity: 0.4;
    }

    & > * {
      & > :not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__detail {
    display: flex;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & > :first-child {
      flex-basis: 40%;
    }

    & > :last-child {
      flex-basis: 60%;
    }

    &--languages {
      display: flex;
      align-items: center;
      transform: translateY(-5px);
    }

    &--language {
      display: flex;
      align-items: center;
    }
  }

  &__os {
    display: flex;
    justify-content: flex-start;

    & > :not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__feature {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 1rem;
    }
  }
}

.characters {
  &__content {
    padding: $section-padding;
    background-color: $color-white;

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__character {
    display: flex;
    align-items: center;
  }

  &__name-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__character-profile {
    height: 40rem;
    margin-right: 1rem;
  }
}
