.current-projects {
  &__content {
    background-image: linear-gradient(
        rgba($color-primary, 0.4),
        rgba($color-primary, 0.4)
      ),
      url("../images/forgetmenot/main-menu--transparent--adjusted.jpg");
    background-position: 65% 0%;
    background-size: cover;
    text-align: center;

    @include respond(bp-largest) {
      background-position: 68% 0%;
    }

    @include respond(bp-large) {
      background-position: 70% 0%;
    }

    @include respond(bp-small) {
      background-position: 74% 0%;
    }

    @include respond(bp-smallest) {
      background-position: 74% 0%;
    }
  }

  &__information {
    padding: 8rem 6rem;
    width: 55%;
    height: 100%;
    background-color: rgba($color-white, 0.6);
    box-shadow: $shadow-right;
    // padding: 0 3rem;

    position: relative;
    top: 6%;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(bp-medium) {
      width: 100%;
      padding: 5rem 6rem;
    }

    & > :nth-child(2) {
      margin-bottom: 1rem;
    }

    & > :nth-child(3) {
      margin-bottom: 3rem;
    }
  }

  &__image {
    // height: 30rem;
    width: 110%;
    margin-bottom: 1rem;

    @include respond(bp-medium) {
      width: 70%;
    }
  }
}

.contacts {
  &__content {
    padding: 5rem 3rem;
  }

  &__website {
    & > * {
      margin-bottom: 2rem;
    }

    @include respond(bp-small) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__staff-contact {
    display: flex;
    align-items: center;

    & > :first-child {
      margin-right: 2rem;
      border-bottom: $border-bottom-light-grey;
    }
  }

  &__team-members {
    text-align: center;

    & > :first-child {
      margin-bottom: 1rem;
    }
  }

  &__team-member {
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
  }

  &__heading-divider {
    transform: translateY(-2px);
    width: 52%;
    margin-bottom: 2rem;
    opacity: 0.4;
  }
}

// &__logo-container {
//   border: 0.9rem solid $color-logo-dark;
//   height: 27.2rem;
//   width: 27.2rem;
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-right: 6rem;
//   animation: 2s appear linear;

//   &::after {
//     content: "";
//     position: absolute;
//     height: 27.2rem;
//     width: 27.2rem;
//     border: 1.6rem solid $color-logo-light;
//     top: 50%;
//     left: 50%;
//     transform: translate(-40%, -40%);
//   }
// }
