.btn {
  padding: 1.5rem 4.5rem;
  border-radius: 30px;
  outline: none;
  box-shadow: $shadow-bottom;
  transition: all 0.3s;

  &--blue {
    border: 2px solid $color-primary;
    color: $color-primary-dark;
    background: $color-white;
  }

  &--translate {
    &:hover {
      transform: translateY(-2px);
      box-shadow: $shadow-bottom--hover;
    }

    &:focus {
      transform: translateY(2px);
      box-shadow: $shadow-bottom--active;
    }
  }
}