.heading {
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 7rem;
  background-image: $gradient-bg;
  border-top: 3px solid $color-primary-light;
  border-bottom: 3px solid $color-primary-light;
  box-shadow: $shadow-bottom;
  position: relative;
  z-index: 5;

  &__text {
    flex-basis: 50%;

    @include respond(bp-medium) {
      flex-basis: 60%;
    }

    @include respond(bp-small) {
      flex-basis: 70%;
    }

    @include respond(bp-smaller) {
      flex-basis: 80%;
    }
  }

  &__flowers {
    height: 100%;
    flex-basis: 25%;
    background-image: linear-gradient(
        rgba($color-primary-dark, 0.6),
        rgba($color-primary, 0.6)
      ),
      url("../images/flower-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(bp-medium) {
      flex-basis: 20%;
    }

    @include respond(bp-smaller) {
      flex-basis: 15%;
    }

    @include respond(bp-smaller) {
      flex-basis: 10%;
    }

    &--left {
      background-position: top;
      clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);

      @include respond(bp-smaller) {
        clip-path: none;
      }
    }

    &--right {
      background-position: bottom;
      clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);

      @include respond(bp-smaller) {
        clip-path: none;
      }
    }
  }
}
