.heading {
  text-align: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 8vh;
  background-color: $color-primary-light;

  &__text {
    flex-basis: 40%;
  }

  &__flowers {
    height: inherit;
    flex-basis: 30%;
    background-image: linear-gradient(
        rgba($color-primary-dark, 0.6),
        rgba($color-primary, 0.6)
      ),
      url("../images/flower-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    &--left {
      background-position: top;
      clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    }

    &--right {
      background-position: bottom;
      clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}
