.icon {
  transition: all 0.3s;

  // padding: 0.7rem;
  // box-sizing: content-box;

  &--active {
    cursor: pointer;
  }

  &--massive {
    height: 6rem;
    width: 6rem;

    @include respond(bp-medium) {
      height: 5rem;
      width: 5rem;
    }

    @include respond(bp-small) {
      height: 4.5rem;
      width: 4.5rem;
    }
  }

  &--largest {
    height: 4.5rem;
    width: 4.5rem;
  }

  &--larger {
    height: 3rem;
    width: 3rem;

    @include respond(bp-smaller) {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &--large {
    height: 2rem;
    width: 2rem;
  }

  &--medium {
    height: 1.75rem;
    width: 1.75rem;
  }

  &--small {
    height: 1.5rem;
    width: 1.5rem;
  }

  &--black {
    fill: $color-grey-darker;
  }

  &--white {
    fill: $color-grey-light;
  }

  &--blue {
    fill: $color-primary;
  }

  &--bg-white {
    background-color: rgba($color-white, 0.2);
    border-radius: 10px;
    border: 2px solid $color-white;
    padding: 0.7rem;
    box-sizing: content-box;
  }

  &--bg-blue {
    background-color: rgba($color-primary, 0.2);
    border-radius: 10px;
    border: 2px solid $color-primary;
    padding: 0.7rem;
    box-sizing: content-box;
  }

  &--bg-yellow {
    background-color: rgba($color-secondary, 0.2);
    border-radius: 10px;
    border: 2px solid $color-secondary;
    padding: 0.7rem;
    box-sizing: content-box;
  }

  &--white-dark-blue {
    fill: $color-grey-light;

    &:hover {
      fill: $color-primary-dark;
    }
  }

  &--white-blue {
    fill: $color-grey-light;

    &:hover {
      fill: $color-primary;
    }
  }

  &--blue-white {
    fill: $color-primary;

    &:hover {
      fill: $color-grey-light;
    }
  }

  &--black-dark-blue {
    fill: $color-grey-darker;

    &:hover {
      fill: $color-primary-dark;
    }
  }

  &--black-secondary {
    fill: $color-grey-darker;

    &:hover {
      fill: $color-secondary;
    }
  }

  &--black-blue {
    fill: $color-grey-darker;

    &:hover {
      fill: $color-primary;
    }
  }

  &--black-white {
    fill: $color-grey-darker;

    &:hover {
      fill: $color-white;
    }
  }
}
